h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 50px;
}

.ghost {
  background-color: gray;
}
/* 
.food {
  background-color: red;
} */

.food {
  animation-name: specialFoodGlow;
  background-color: red;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

@keyframes specialFoodGlow {
  from {
    box-shadow: 0px 0px 3px 3px red;
  }
  to {
    box-shadow: 0px 0px 1px 1px red;
  }
}
